@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less";

.Card {
  margin-bottom: 16px;
  min-width: 800px;
  max-width: "100%";
}
.blog-card-style {
  width: 390px;
}
.header-style {
  position: "fixed";
  z-index: 1;
  width: "100%";
}
.site-layout {
  padding: "0 50px";
  margin-top: 64;
}
.Text-Center {
  text-align: center;
}
.Checkbox-Style {
  width: "100%";
}
